<div class="trialpartWrapper" style="text-align: left;">
	Einverständnis zur freiwilligen Teilnahme am Experiment <br> <br>

Indem ich den Knopf "Дальше" drücke, bestätige ich meine freiwillige Teilnahme am Experiment "Morphologische Disambiguierung in der russischen Sprache", das von der
Nationalen Forschungsuniversität "Höhere Schule für Wirtschaft" in Moskau und der Universität Harvard durchgeführt wird. Ich erkläre mich einverstanden, dass die durch das Experiment gewonnenen Daten veröffentlicht und für wissenschaftliche Zwecke benutzt werden können, mein Name allerdings stets geheim bleibt. <br> <br> 
Ich weiß, wie das Experiment abläuft und dass ich es zu jeder Zeit abbrechen darf.<br> <br> 
Außerdem bestätige ich, dass ich zum Zeitpunkt des Experiments:<br> <br> 
1. keine unkorrigierte Gehörprobleme habe;<br> 
2. keine medizinische Präparate einnehme, die meine Konzentration und meine Reaktionszeit beeinflussen;<br> 
3. nicht unter Einfluss von Alkohol und anderen psychotropen Substanzen stehe.<br> 

	<%= continueButton() %>
</div>
