
<div class="trialpartWrapper" style="text-align: left;">
	Guten Tag! <br> <br>
Vielen Dank, dass Sie sich bereit erklärt haben, an unserem Experiment teil zu nehmen.  <br> <br>
Wir bitten Sie, sich die russischen Sätze anzuhören und ihre grammatische Richtigkeit zu beurteilen. <br> <br>
Sie müssen jeweils auf den Knopf "    ►    " drücken um sich einen Satz anzuhören. Wenn es im Satz Ihrer Meinung nach einen Fehler gibt, drücken Sie bitte auf den Knopf "Ошибка!". Drücken Sie den Knopf sofort, nachdem Sie den Fehler gehört haben.  <br> <br>

Falls Sie denken, dass der Satz den Normen der russischen Sprache entspricht, drücken Sie bitte nichts. In drei Sekunden können Sie mit dem nächsten Satz fortfahren.  
 <br>
Jeden Satz können Sie jeweils nur einmal hören.  <br> <br>

Das ganze Experiment dauert ca. 15 bis 20 Minuten.

Jetzt möchten wir Sie bitten, dass Sie sich mit den Bedingungen des Experiments einverstanden erklären. Anschließend wartet ein kleines Training auf Sie, das Ihnen helfen wird, sich an die Aufgabe zu gewöhnen.
Ziehen Sie bitte Ihre Kopfhörer an und drücken Sie auf den Knopf "Дальше".
 <br> <br>

	<%= continueButton() %>
</div>

